<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>chick</title>
	<link rel="stylesheet" type="text/css" href="lib/viewui/styles/iview.css">
    <script type="text/javascript" src="lib/vue/vue.js"></script>
    <script type="text/javascript" src="lib/viewui/iview.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div id="app" style="opacity: 0.1;">
		<div class="container" :class="{ beingskin: skinBox }">
			<div class="user-box" @click="showUser">
				<div class="user-logo">
					<div class="user-level">{{chick.level}}</div>
					<Icon type="md-contact" />
				</div>
				<div class="user-info">
					<div class="user-name">{{user.name}}</div>
					<div class="user-money">
						<div class="user-mi"><Icon type="logo-usd" /></div>
						<p>{{user.money}}</p>
					</div>
				</div>
			</div>
			<!-- 功能菜单 -->
			<ul class="nav-list">
				<li @click="showPopup(skin)"><span class="nav-icon"><i class="ivu-icon ivu-icon-ios-shirt"></i></span><span class="nav-name">换装</span></li>
				<li @click="showPopup(shop)"><span class="nav-icon"><i class="ivu-icon ivu-icon-ios-basket"></i></span><span class="nav-name">商店</span></li>
				<li @click="showPopup(bag)"><span class="nav-icon"><i class="ivu-icon ivu-icon-ios-filing"></i></span><span class="nav-name">背包</span></li>
			</ul>
			<div class="content">
				<!-- 太阳光 -->
				<c-sunlight></c-sunlight>
				<!-- 山峰 -->
				<c-peak></c-peak>
				<!-- 白云 -->
				<c-clouds></c-clouds>
				<div class="land-wrap">
					<!-- 草地 -->
					<c-grass></c-grass>
					<!-- 房子 -->
					<c-house></c-house>
					<!-- 护栏 -->
					<c-fence></c-fence>
					<!-- 蜜蜂鲜花 -->
					<c-bee></c-bee>
					<!-- 鸡蛋 -->
					<c-egg></c-egg>
				</div>

				<!-- 叶子 -->
				<c-leaf></c-leaf>
				<!-- 鸡饭碗 -->
				<c-trough></c-trough>
				<!-- chick -->
				<div class="chick" :class="{noeat:!chick.eat}">
					<!-- 进食倒计 -->
					<div class="countdown-box">
						<p class="countdown-text" :class="{active : !chick.eat }">{{content}}{{setTime}}</p>
						<!-- 进食进度条 -->
						<div class="progress" v-if="value != 0 && value < 100">
							<div class="progress-content" :style="'width:' + value + '%' "></div>
						</div>
					</div>
					<!-- 装扮-帽子 -->
					<div class="skin-hat">
						<keep-alive>
							<component
								:is="chick.componentHat"></component>
						</keep-alive>
					</div>
					<div class="chick-head"></div>
					<div class="chick-body">
						<!-- 装扮-衣服 -->
						<keep-alive>
							<component
								:is="chick.componentClothes"></component>
						</keep-alive>
						<!-- 青蛙衣服 -->
						
					</div>
					<div class="eye">
						<span></span>
						<span></span>
					</div>
					<div class="blusher">
						<span></span>
						<span></span>
					</div>
					<div class="face"></div>
					<div class="wing-left"></div>
					<div class="wing-content">
						<span></span>
					</div>
					<div class="arm" style="display: none;">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="wing-right">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<span></span>
						<div class="food">
							<p></p>
							<div class="dot-box">
								<span></span>
								<span></span>
							</div>
						</div>
					</div>
					<div class="mouth">
						<span></span>
						<span></span>
						<p></p>
					</div>
					<div class="foot">
						<span></span>
						<span></span>
					</div>
				</div>
				<!-- 弹窗遮罩层 -->
				<div class="popup-mask" v-show="skinBox" @click="hideSkin"></div>
			</div>
			<!-- 功能弹窗面板 -->
			<div class="page-popup">
				<div class="popup-item" v-show="isSkin">
					<div class="popup-head border-bottom-1px">
						<span class="popup-title fl">换装</span>
						<i class="ivu-icon ivu-icon-md-close-circle" @click="hideSkin"></i>
					</div>
					<div class="popup-content">
						<!-- 换装内容 -->
						<tabs :animated="false">
					        <tab-pane label="" icon="ios-egg">
					        	<ul class="opt-list">
					        		<li 
					        		v-for="suit in suits"
					        		:key="suit.name"
					        		:class="['opt-btn', { active: chick.currentSuit === suit.id && chick.currentHat === suit.id && chick.currentClothes === suit.id}]"
					        		@click="replaceDress(0,suit.id)">
						        		<span class="opt-mask fadeIn animated"><Icon type="md-checkmark-circle" /></span>
						        		{{ suit.name }}
					        		</li>
					        	</ul>
					        </tab-pane>
					        <tab-pane label="" icon="ios-school">
					        	<ul class="opt-list">
					        		<li 
					        		v-for="hat in hats"
					        		:key="hat.name"
					        		:class="['opt-btn', { active: chick.currentHat === hat.id}]"
					        		@click="replaceDress(1,hat.id)">
						        		<span class="opt-mask fadeIn animated"><Icon type="md-checkmark-circle" /></span>
						        		{{ hat.name }}
					        		</li>
					        	</ul>
					        </tab-pane>
					        <tab-pane label="" icon="ios-shirt">
					        	<ul class="opt-list">
					        		<li
					        		v-for="clothe in clothes"
					        		:key="clothe.name"
					        		:class="['opt-btn', { active: chick.currentClothes === clothe.id}]"
					        		@click="replaceDress(2,clothe.id)">
						        		<span class="opt-mask fadeIn animated"><Icon type="md-checkmark-circle" /></span>
						        		{{ clothe.name }}
					        		</li>
					        	</ul>
					        </tab-pane>
					        <tab-pane label="" icon="md-rose">标签4的内容</tab-pane>
					        <tab-pane label="" icon="md-glasses">标签5的内容</tab-pane>
					    </tabs>
					</div>
				</div>
				<div class="popup-item" v-show="isShop">
					<div class="popup-head border-bottom-1px">
						<span class="popup-title fl">商店</span>
						<i class="ivu-icon ivu-icon-md-close-circle" @click="hideSkin"></i>
					</div>
					<div class="popup-content">
						<p>商店</p>
					</div>
				</div>
				<div class="popup-item" v-show="isBag">
					<div class="popup-head border-bottom-1px">
						<span class="popup-title fl">背包</span>
						<i class="ivu-icon ivu-icon-md-close-circle" @click="hideSkin"></i>
					</div>
					<div class="popup-content">
						<div class="food-box">
							<ul class="food-list">
								<li v-for="(food, index) in foods" @click="feedClick(index)" :class="{ shortage: food.num === 0}">
									<div class="food-item">
										<p class="food-name">{{food.name}}</p>
										<p><span class="food-icon"><Icon type="ios-calculator-outline" /></span>{{food.num}}</p>
										<p><span class="food-icon"><Icon type="ios-alarm-outline" /></span>{{food.eatTime | SecondToDate}}</p>
										<p><span class="food-icon"><Icon type="ios-nutrition" /></span>{{food.exp}}</p>
										<div class="shortage-tips" @click.stop="shopping(food.name)">
											<i-button :size="buttonSize" type="success">购买</i-button>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>		
		</div>
		<div class="loading">
			<div class="pic">
				<div class="egg-wrapper">
					<div class="egg infinite">
					</div>
				</div>
				<p>我是一只鸡</p>
			</div>
		</div>

		<!-- 用户信息 -->
		<Modal v-model="modal12" @on-ok="keepUser">
			<div class="user-form">
				<i-form :model="user" :label-width="80">
			        <form-item label="用户名称">
			            <i-input v-model="user.name" placeholder="设置用户名称..."></i-input>
			        </form-item>
			    </i-form>
		        <div><p>等级：{{chick.level}}级，经验：{{chick.exp}}，升级所需：{{chick.upgradeExp}}</p></div>
	        </div>
	    </Modal>

	    <!-- 升级弹窗 -->
		<Modal :value="modalLevel" @on-ok="levelUser">
			<span class="c-modal__title">升级了</span>
          	<p style="font-size: 20px;">恭喜您升到{{chick.level}}级了！</p>
	    </Modal>

	    <!-- 直接购买商品 -->
		<Modal :value="modalShopping" @on-ok="shoppingSettle">
			<div class="shopping-box">
				<p>{{currFood.name}}</p>
				<p>${{currFood.price}}/个</p>
				<div class="num-form">
					<div class="shop-btn" @click="shoppingReduce"><span>-</span></div>
					<div class="shop-input"><i-input type="text" v-model="shoppingNum" placeholder="数量"></i-input></div>
					<div class="shop-btn" @click="shoppingAdd"><Icon type="md-add-circle" /></div>
				</div>
			</div>
	    </Modal>

	</div>
	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="lib/vuex/vuex.min.js"></script>
	<script src="component.js"></script>
	<script src="js/store/index.js"></script>
	<script>
		new Vue({
	        el: '#app',
	        data: {
	        	modal12: false,
	            skinBox: false,
	            modalShopping: false,
	            skin: 'skin',
	            shop: 'shop',
	            bag: 'bag',
	            isSkin: false,
	            isShop: false,
	            isBag: false,
	            buttonSize: 'small',
	            formUser: { // 用户信息填写表单
	            	name: ''

	            },
	            clothes: [ // 衣服列表
	            	{
	            		id: 'default',
	            		name: '默认上衣'
	            	},
	            	{
	            		id: 'forg',
	            		name: '青蛙上衣'
	            	}
	            ], 
	            hats: [ // 帽子列表
	            	{
	            		id: 'default',
	            		name: '默认帽子'
	            	},
	            	{
	            		id: 'forg',
	            		name: '青蛙帽子'
	            	}
	            ],
	            suits: [ // 套装列表
	            	{
	            		id: 'default',
	            		name: '默认套装'
	            	},
	            	{
	            		id: 'forg',
	            		name: '青蛙套装'
	            	}
	            ],
	            shoppingNum: 0 // 购物数量
	        },
	        store, // 把 store 对象提供给 “store” 选项，这可以把 store 的实例注入所有的子组件
	        computed: Vuex.mapState([
		          // 映射 this.setTime 为 store.state.setTime
		          'user',
		          'chick',
		          'foods',
		          'eat',
		          'setTime',
		          'startDate',
		          'endDate',
		          'content',
		          'currFood',
		          'modalLevel',
		          'value'
		    ]),
	        mounted () {
	          this.init() // 初始化
	        },
	        methods: {
				// 初始化
				init () {
					this.$nextTick(function () {
					  	// 页面加载读取缓存
					  	this.$store.dispatch('loadgame');
					})
				},
				// 点击食物进行喂食
				feedClick: function (index) {
					this.$store.commit('feedClick',index);
				},
				shopping: function (name) {
					this.$store.commit('shoppingFood',name);
					this.modalShopping = true;
				},
				shoppingReduce: function() {
					this.shoppingNum--;
				},
				shoppingAdd: function() {
					this.shoppingNum++;
				},
				// 升级弹窗确认按钮，确认后再检测是否可以继续升级
				ok () {
					this.$store.commit('popupLevel');
	          	},
	          	// 打开功能菜单弹窗
		        showPopup: function (val) {
		            this.skinBox = true;
		            if (val == 'skin') {
		            	this.isSkin = true;
		            } else if (val == 'shop') {
		            	this.isShop = true;
		            } else {
		            	this.isBag = true;
		            }
		        },
		        // 关闭换装弹窗
		        hideSkin: function () {
					this.skinBox = false;
					var that = this;
					setTimeout(function(){ 
						that.isSkin = false;
						that.isShop = false;
						that.isBag = false;
					}, 400);
		        },
		        // 打开用户信息面板
		        showUser: function () {
		        	this.modal12 = true;
		        },
		        // 设置服装
		        replaceDress: function(type,pid) {
		        	this.$store.dispatch("replacedress",{"type":type,"pid":pid});
		        },
		        keepUser: function() {
		        	this.$store.dispatch('keepuser');
		        },
		        levelUser: function() {
		        	this.$store.commit('popupLevel');
		        },
		        shoppingSettle: function() {
		        	var num = this.shoppingNum;
		        	var name = this.$store.currFood;
		        	console.log("name:"+name);
		        	this.$store.commit('shoppingSettle',num);
		        	this.modalShopping = false;
		        	this.shoppingNum = 0;

		        }

	        },
	        // 过滤器
	        filters: {
	          // 格式化显示时间 毫秒转：天-小时-分钟-秒
	          SecondToDate (value) {
	            var time = value;
	            if (null != time && "" != time) {
	              if (time > 60 * 1000 && time < 60 * 60 * 1000) {
	                time = parseInt(time / 1000 / 60.0) + "分钟" + parseInt((parseFloat(time / 1000 / 60.0) -
	                parseInt(time / 1000 / 60.0)) * 60) + "秒";
	              } else if (time >= 60 * 60 * 1000 && time < 60 * 60 * 24 * 1000) {
	                time = parseInt(time / 1000 / 3600.0) + "小时" + parseInt((parseFloat(time / 1000 / 3600.0) -
	                parseInt(time / 1000 / 3600.0)) * 60) + "分钟" +
	                parseInt((parseFloat((parseFloat(time / 1000 / 3600.0) - parseInt(time / 1000 / 3600.0)) * 60) -
	                parseInt((parseFloat(time / 1000 / 3600.0) - parseInt(time / 1000 / 3600.0)) * 60)) * 60) + "秒";
	              } else if (time >= 60 * 60 * 24 * 1000) {
	              time = parseInt(time / 1000 / 3600.0/24) + "天" +parseInt((parseFloat(time / 1000 / 3600.0/24)-
	                parseInt(time / 1000 / 3600.0/24))*24) + "小时" + parseInt((parseFloat(time / 1000 / 3600.0) -
	                parseInt(time / 1000 / 3600.0)) * 60) + "分钟" +
	                parseInt((parseFloat((parseFloat(time / 1000 / 3600.0) - parseInt(time / 1000/ 3600.0)) * 60) -
	                parseInt((parseFloat(time / 1000 / 3600.0) - parseInt(time / 1000 / 3600.0)) * 60)) * 60) + "秒";
	              } else {
	                time = Math.round((time % (1000 * 60)) / 1000) + "秒";
	              }
	            }
	            return time;
	          }
	      }
	    });
		// 定时器
		$(function(){
		  //定义3秒后隐藏loading
		  setInterval(function(){
		    $(".loading").fadeOut();
		  },2000)
		})
	</script>
</body>
</html>